language: haskell

env:
  - >
    GHCVER=7.8.3
    MODE="-f-test-shaders -f-test-buffers -f-test-framebuffers"
  - >
    GHCVER=7.10.1
    MODE="-f-test-shaders -f-test-buffers -f-test-framebuffers"
  - >
    GHCVER=head
    MODE="-f-test-shaders -f-test-buffers -f-test-framebuffers"

matrix:
  allow_failures:
    - env: GHCVER=head

before_install:
  # If $GHCVER is the one travis has, don't bother reinstalling it.
  # We can also have faster builds by installing some libraries with
  # `apt`. If it isn't, install the GHC we want from hvr's PPA along
  # with cabal-1.18.
  - |
    if [ $GHCVER = `ghc --numeric-version` ]; then
      # Try installing some of the build-deps with apt-get for speed.
      travis/cabal-apt-install --enable-tests $MODE
      export CABAL=cabal
    else
      # Install the GHC we want from hvr's PPA
      travis_retry sudo add-apt-repository -y ppa:hvr/ghc
      travis_retry sudo apt-get update
      travis_retry sudo apt-get install cabal-install-1.18 ghc-$GHCVER happy
      export CABAL=cabal-1.18
      export PATH=/opt/ghc/$GHCVER/bin:$PATH
    fi
  # Uncomment whenever hackage is down.
  # - mkdir -p ~/.cabal && cp travis/config ~/.cabal/config && $CABAL update
  - $CABAL update

  # Update happy when building with GHC head
  - |
    if [ $GHCVER = "head" ] || [ $GHCVER = "7.8.3" ]; then
      $CABAL install happy alex
      export PATH=$HOME/.cabal/bin:$PATH
    fi

  # install SDL 2.0.3
  - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib
  - wget http://libsdl.org/release/SDL2-2.0.5.tar.gz -O - | tar xz
  - cd SDL2-2.0.5 && ./configure && make -j && sudo make install && cd ..

  # if we want GLFW-b
  # - sudo apt-get install libxxf86vm-dev

install:
  - $CABAL install --dependencies-only --enable-tests $MODE
  - $CABAL configure --enable-tests $MODE

script:
  - $CABAL build
  - $CABAL test --show-details=always

notifications:
  irc:
    channels:
      - "irc.freenode.org#haskell-lens"
    skip_join: true
    template:
      - "\x0313quine\x03/\x0306%{branch}\x03 \x0314%{commit}\x03 %{build_url} %{message}"
