html, body {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #fff;
}

#background {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none;
  background-color: #813;
  z-index: 0;
  cursor: crosshair;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  -moz-border-radius: 12px;
  z-index: 0;
  position: absolute;
  top:  0px;
  left: 0px;
  display: block;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0); /* gpu layer in isolation */
}

#stats {
  position: fixed;
  top:60px;
  right:0;
  z-index: 100;
}

a.site:link {
  color: #005994;
  text-decoration: underline;
  font-weight: 700;
}

a.site:visited {
  color: #000;
}


